@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iransans";
    src: url("../../public/fonts/iransans-fanum/woff2/IRANSansWeb\(FaNum\).woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Iransans Bold";
    src: url("../../public/fonts/iransans-fanum/woff2/IRANSansWeb\(FaNum\)_Bold.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Iransans Medium";
    src: url("../../public/fonts/iransans-fanum/woff2/IRANSansWeb\(FaNum\)_Medium.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Iransans Light";
    src: url("../../public/fonts/iransans-fanum/woff2/IRANSansWeb\(FaNum\)_Light.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Yekan";
    src: url("../../public/fonts/yekan/WebYekan.woff") format("woff");
    font-display: swap;
  }
}
